[user]
  # .gitconfig.localで各自が定義する
  #name = xxx
  #email = xxx@xxx
[alias]
  st = status
  difft = difftool
### 見やすいlog
  plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)<%an | %ae>' --date=iso
  logg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd, %cr) %C(bold blue)<%an | %ae>%Creset' --date=iso
### 文字単位でのdiff
  worddiff = diff --word-diff=plain --word-diff-regex=.
### stagingにあるものを再度diff,add
  rediff =  !"git diff --staged --name-only | grep '\\.php' | xargs -I{} git diff {}"
  readd =  !"git diff --staged --name-only | grep '\\.php' | xargs -I{} git add {}"
### branchの派生元リビジョン
  branch-base = !"f(){ git show-branch --sha1-name $1 $2 | tail -1; };f"
# 環境に依存する情報は別ファイルに切り出す
[color]
  ui = true
[core]
  editor = vim
  autocrlf = input # commit: CRLF->LF, checkout: 変換なし
  safecrlf = true  # 改行コードの混在を拒否する
  filemode = false # 権限などfilemodeが変化しただけでは差異と認識させない
[diff]
  # 使用できるツール一覧は `git difftool --tool-help` で確認可能
  tool = vimdiff
[difftool]
  prompt = false  # 確認ダイアログを非表示
[include]
  path = .gitconfig.local
[push]
  default  = simple # branchやtag名を指定しなかった場合、現在のbranchをpushする。同名のbranchが存在しない場合は拒否する

