[user]
  # .gitconfig.localで各自が定義する
  #name = xxx
  #email = xxx@xxx
[alias]
  co = commit
  pu = push
  st = status
  sw = switch
  ch = checkout
  fe = fetch
  m = merge
  b = branch
  d = diff
  dt = difftool
  t = tag
  l = mylog

  reco = commit --amend --no-edit

  ds = diff --staged
  dw = diff -w
  dws = diff -w --staged
  wd = worddiff
### 見やすいlog
  mylog = log --graph --pretty='format:%C(yellow)%h %C(green)(%cd,%cr) %C(red)%d %C(reset)%s : %b%- %C(cyan)Author:<%an | %ae> %C(blue)Commiter:<%cn | %ce>' --date=iso
### 文字単位でのdiff
  worddiff = diff --word-diff=plain --word-diff-regex=.
### stagingにあるものを再度diff,add
  rediff =  !"git diff --staged --name-only | grep '\\.php' | xargs -I{} git diff {}"
  readd =  !"git diff --staged --name-only | grep '\\.php' | xargs -I{} git add {}"
### branchの派生元リビジョン
  branch-base = !"f(){ git show-branch --sha1-name $1 $2 | tail -1; };f"
# 環境に依存する情報は別ファイルに切り出す
[color]
  ui = true
[core]
  editor = vim
  autocrlf = input # commit: CRLF->LF, checkout: 変換なし
  safecrlf = true  # 改行コードの混在を拒否する
  quotepath = false # 日本語文字のエスケープをせず、日本語のまま表示する
[diff]
  # 使用できるツール一覧は `git difftool --tool-help` で確認可能
  tool = vimdiff
  renameLimit = 0 # でかいリポジトリを操作していると、この上限に引っかかることがある。無制限にしておく
[difftool]
  prompt = false  # 確認ダイアログを非表示
[include]
  path = ~/.gitconfig.local # dotfiles リポジトリの設定以外を個別に設定したい場合はこちらに記載。 user 設定など
[init]
  templatedir = ~/.git_template # init, clone 時に git hooks スクリプトを自動的にコピーする
[push]
  default  = simple # branchやtag名を指定しなかった場合、現在のbranchをpushする。同名のbranchが存在しない場合は拒否する


# WinMerge 使った diff
[diff]
    tool = WinMerge
[difftool "WinMerge"]
    path = C:/Program Files/WinMerge/WinMergeU.exe
    cmd = \"C:/Program Files/WinMerge/WinMergeU.exe\" -f \"*.*\" -e -u -r \"$LOCAL\" \"$REMOTE\"
[alias]
    windiff = difftool -y -d -t WinMerge
