[user]
  # .gitconfig.localで各自が定義する
  #name = xxx
  #email = xxx@xxx
[alias]
  co = commit
  pu = push
  st = status
  sw = switch
  ch = checkout
  fe = fetch
  m = merge
  b = branch
  d = diff
  dt = difftool
  t = tag
  l = mylog

  reco = commit --amend --no-edit

  ds = diff --staged
  dw = diff -w
  dws = diff -w --staged
  wd = worddiff
### 見やすいlog
  mylog = log --graph --pretty='format:%C(yellow)%h %C(green)(%cd,%cr) %C(red)%d %C(reset)%s : %b%- %C(cyan)Author:<%an | %ae> %C(blue)Commiter:<%cn | %ce>' --date=iso
### 文字単位でのdiff
  worddiff = diff --word-diff=plain --word-diff-regex=.
### stagingにあるものを再度diff,add
  rediff =  !"git diff --staged --name-only | grep '\\.php' | xargs -I{} git diff {}"
  readd =  !"git diff --staged --name-only | grep '\\.php' | xargs -I{} git add {}"
### branchの派生元リビジョン
  branch-base = !"f(){ git show-branch --sha1-name $1 $2 | tail -1; };f"
# 環境に依存する情報は別ファイルに切り出す
[color]
  ui = true
[core]
  editor = vim
  autocrlf = input # commit: CRLF->LF, checkout: 変換なし
  safecrlf = true  # 改行コードの混在を拒否する
  quotepath = false # 日本語文字のエスケープをせず、日本語のまま表示する
[diff]
  # 使用できるツール一覧は `git difftool --tool-help` で確認可能
  tool = vimdiff
  renameLimit = 0 # でかいリポジトリを操作していると、この上限に引っかかることがある。無制限にしておく
[difftool]
  prompt = false  # 確認ダイアログを非表示
[include]
  path = ~/.gitconfig.local # dotfiles リポジトリの設定以外を個別に設定したい場合はこちらに記載。 user 設定など
[init]
  templatedir = ~/.git_template # init, clone 時に git hooks スクリプトを自動的にコピーする
[push]
  default  = simple # branchやtag名を指定しなかった場合、現在のbranchをpushする。同名のbranchが存在しない場合は拒否する

# WinMerge 使った diff
# 下記コマンドで wsl 配下にスクリプトを配置して、実行権限を付与してください。
### sudo tee /usr/local/bin/winmerge-diff << 'EOF' > /dev/null
### #!/bin/bash
### # 引数を Windows パスに変換して WinMerge を起動
### # -r オプションにより、ファイル単体でもディレクトリ一括(-d)でも対応可能
### "/mnt/c/Program Files/WinMerge/WinMergeU.exe" -e -u -r -dl "Base" -dr "Mine" "$(wslpath -w "$1")" "$(wslpath -w "$2")"
### EOF
###
### sudo chmod +x /usr/local/bin/winmerge-diff
[diff]
  tool = winmerge
[difftool "winmerge"]
  # 先ほど作ったスクリプトを呼び出すだけ。引用符もこれだけでOK。
  cmd = winmerge-diff "$LOCAL" "$REMOTE"
[alias]
  # -d (ディレクトリ比較) と -y (プロンプト無し) をセットにしたエイリアス
  windiff = difftool -y -d -t winmerge